/*** RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.utente div {
  font-size: 1.2rem;
}
.singolo {
  margin-bottom: 50px;
}
h3 {
  margin-top: 10px;
}
